:root {
    /* Theming */
    --color-brand-base: var(--wsk-color-green);
    --color-brand-light: var(--wsk-color-green);
    --text-color-heading: var(--wsk-color-blue);
}

header .logo {
    left: auto;
}

header .logo img {
    height: 60pt;
}

footer .contact {
    color: var(--wsk-color-blue);
}

@media print {
    @page :first {
        @top-left-corner {
            content: element(empty); /* reset hack for element */
        }

        @top-right {
            content: element(firstPageHeader);
        }
    }
}
