:root {
    /* Colors */
    --wsk-color-green: #74cb56;
    --wsk-color-blue: #252e48;

    /* Theming */
    --color-brand-base: var(--wsk-color-green);
    --color-brand-light: var(--wsk-color-green);
    --text-color-heading: var(--wsk-color-blue);
}

header .logo {
    left: auto;
}

header .logo img {
    height: 60pt;
}

footer .contact {
    color: var(--wsk-color-blue);
}

@media print {
    @page :first {
        @top-left-corner {
            content: '';
        }

        @top-right {
            content: element(firstPageHeader);
        }
    }
}
