:root {
    /* Colors */
    --sbn-color-purple: #3C2A60;
    --sbn-color-purple-surface: #D9D3DE;
    --sbn-color-purple-dark: #23104a;
    --sbn-color-aqua: #6CCACF;
    --sbn-color-aqua-surface: #CFE5E8;
    --sbn-color-aqua-dark: #6aa7b7;

    /* Theming */
    --background-color-base: var(--sbn-color-aqua-surface);
    --text-color-heading: var(--sbn-color-purple);

    /* Radii */
    --radius-base: 1.5rem;

    /* Header */
    --header-background-color: var(--color-white);
    --header-text-color: var(--sbn-color-purple);
    /*--menu-text-color: var(--color-grey-900);*/

    /* Aside */
    --aside-background-color: var(--color-white);
    --aside-text-color: var(--sbn-color-purple);

    /* Button */
    --button-text-color: var(--color-white);
    --button-text-color-active: var(--color-white);
    --button-background-base: var(--sbn-color-purple);
    --button-background-active: var(--sbn-color-purple-dark);

    /* Shadow */
    --drop-shadow-base: 0 .125rem 1.25rem rgba(60, 42, 96, .05);
    --drop-shadow-level2: 0 .25rem 1rem rgba(60, 42, 96, .1);
}

header .bar .logo img {
    height: 3.25rem;
    object-fit: cover;
    object-position: left;
    width: 3.25rem;
}

header a:focus,
header a:hover {
    background-color: var(--sbn-color-purple-surface);
}

header a:active {
    background-color: transparent;
}

header a[aria-expanded="true"] {
    background-color: var(--sbn-color-purple-surface);
    color: var(--sbn-color-purple);
}

main > aside > div.header {
    border-bottom-color: var(--color-black-a10);
}

@media (min-width: 40rem) {
    header .bar .logo {
        display: block;
    }

    header .bar .logo img {
        height: 5rem;
        width: 5rem;
    }
}

@media (min-width: 70rem) {
    header .bar .logo img {
        height: auto;
        width: auto;
        object-fit: initial;
    }
}
