:root {
    /* Colors */
    --sbn-rgb-purple: 60, 42, 96;
    --sbn-rgb-purple-surface: 217, 211, 222;
    --sbn-rgb-purple-dark: 35, 16, 74;
    --sbn-rgb-aqua: 108, 202, 207;
    --sbn-rgb-aqua-surface: 207, 229, 232;
    --sbn-rgb-aqua-dark: 106, 167, 183;

    --wsk-color-green: #74cb56;
    --wsk-color-blue: #252e48;

    /* Theming */
    --rgb-brand: var(--sbn-rgb-aqua-dark);
    --text-color-heading: rgb(var(--sbn-rgb-purple));
}
