name: md-docs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
  repository_dispatch:
    types: [test-execution-changed]

jobs:

  md-docs:

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      # - name: Download
      #   uses: synionnl/md-docs-actions/azure/download@main
      #   with:
      #     credentials: ${{ secrets.AZURE_CREDENTIALS }}
      #     storage_account: sbnstorage
      #     storage_container: test-executions
      #     github_token: ${{ github.token }}
      #     repository: ${{ github.repository }}

      - name: Build
        uses: synionnl/md-docs-actions/build@main
    
      - name: Deploy
        id: deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_CREDENTIALS }}
          repo_token: ${{ github.token }}
          action: upload
          app_location: /dist
          skip_app_build: true

